<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>939188506398-6tg2735ik5ehnqfm8c43rfpphht67q15.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.939188506398-6tg2735ik5ehnqfm8c43rfpphht67q15</string>
	<key>API_KEY</key>
	<string>AIzaSyAPExo_R-PRxu5pqZqvsyh5sM0FH8gNrbY</string>
	<key>GCM_SENDER_ID</key>
	<string>939188506398</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.verz.eqinsurance</string>
	<key>PROJECT_ID</key>
	<string>miniapp-c50dd</string>
	<key>STORAGE_BUCKET</key>
	<string>miniapp-c50dd.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:939188506398:ios:d67330f9176c211475430f</string>
</dict>
</plist>